*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    margin-top: 20px;
    width: 400px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

h1{
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
}

.form-group > input[type="text"], .form-group > input[type="password"], .form-group > button{
    width: 100%;
    padding: 6px;
    margin: 8px 0;
}

.form-group > button{
    padding: 10px;
    margin: 10px 0;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
}

.form-group > button:hover {
    background-color: #0056b3;
}